* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to left, rgb(129, 91, 91), rgb(223, 132, 109));
}
.bord {
  width: 300px;
  height: 300px;
  display: flex;
}
.square {
  width: 100px;
  height: 100px;
  font-size: 60px;
}
.gamebordflex {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 20px 20px;
  transition: all 1s ease-in-out;
}
.gamebordflex ol li {
  margin: 10px 0;
}
.gamebordflex ol li button {
  padding: 5px 3px;
}
.nav {
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 100;
  display: none;
}
.nav button {
  padding: 5px 10px;
}
@media screen and (max-width: 676px) {
  .gamebordflex {
    transform: translateY(-100%);
  }
  .show {
    transform: translate(5%);
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(117, 83, 83);
  }
  .nav {
    display: block;
  }
}
